/arxv/create_packages.sh
/doc/البيانات.xls
/doc/┘╪ز┘é╪▒┘è╪▒ ╪ح╪╢╪د┘╪ر ╪د┘╪ث╪╣┘╪د┘à.doc
/doc/┘╪ز┘é╪▒┘è╪▒ ╪ح╪╢╪د┘╪ر ╪د┘╪ث╪╣┘╪د┘à.docx
/doc/┘╪ز┘é╪▒┘è╪▒ ╪ح╪╢╪د┘╪ر ╪د┘╪ث╪╣┘╪د┘à.odt
/pronouns/Moataz1.utf8.txt
/pronouns/Moataz1.utf8.txt~
/pronouns/Moataz2.utf8.txt
/pronouns/Moataz2.utf8.txt~
/pronouns/output/Condidate3.4.dic
/pronouns/output/CondidateNames01.Unv.txt
/pronouns/output/CondidateNames01.comp.txt
/pronouns/output/CondidateNames01.dic.txt
/pronouns/output/CondidateNames01.dic.txt~
/pronouns/output/CondidateNames01.simple.txt
/pronouns/output/CondidateNames01.txt
/pronouns/output/CondidateNames01.txt~
/pronouns/output/CondidateNames02.Unv.txt
/pronouns/output/CondidateNames02.comp.txt
/pronouns/output/CondidateNames02.dic.txt
/pronouns/output/CondidateNames02.dic.txt~
/pronouns/output/CondidateNames02.dic2.txt
/pronouns/output/CondidateNames02.simple.txt
/pronouns/output/CondidateNames02.txt
/pronouns/output/CondidateNames02.txt~
/pronouns/output/addFlags.sh
/pronouns/output/addFlags.sh~
/pronouns/output/createDict.sh
/pronouns/output/createDict.sh~
/pronouns/output/good1.txt
/pronouns/output/good1.unq
/pronouns/output/good2.txt
/pronouns/output/good2.unq
/pronouns/output/stripHarakat.sh
/pronouns/output/stripHarakat.sh~
/pronouns/output/wcomp01
/pronouns/output/wcomp02
/pronouns/output/wcomp02.unq
/pronouns/output/wrong01.Names.txt
/pronouns/output/wrong02.Names.txt
/pronouns/output/wrong02.Names.txt~
/pronouns/output/wrong02.wrong.Names.txt
/pronouns/output/wrong1.Names.txt
/pronouns/output/wrong1.diff
/pronouns/output/wrong1.txt
/pronouns/output/wrong2.Names.txt
/pronouns/output/wrong2.diff
/pronouns/output/wrong2.txt
/pronouns/xlsx/Moataz1.csv
/pronouns/xlsx/Moataz1.xlsx
/pronouns/xlsx/Moataz2.csv
/pronouns/xlsx/Moataz2.xlsx
/pronouns/╪د┘╪ذ┘è╪د╪ز╪د╪ز.xlsx
/pronouns/╪ز╪╣┘┘è┘é╪د╪ز
/pronouns/╪ز╪╣┘┘è┘é╪د╪ز~
/releases/arabic_spellchecking_dictionary_3.7.2016-12-16.xpi
/releases/dict_ar-3.7.2016-12-16.oxt
/releases/hunspell-ar_3.7.2016-12-16.zip
/templates/mozilla/dictionaries/ar.aff
/templates/mozilla/dictionaries/ar.dic
/templates/openoffice/README_ar
/templates/openoffice/ar.aff
/templates/openoffice/ar.dic
/templates/openoffice/docs/AUTHORS
/templates/openoffice/docs/COPYING
/templates/openoffice/docs/ChangeLog-ar
/templates/openoffice/docs/README-ar
/templates/openoffice/docs/README-en
/templates/openoffice/docs/README-fr
/templates/openoffice/docs/THANKS
/templates/openoffice/docs/TODO-ar
/templates/openoffice/docs/install-ar
/templates/openoffice/docs/install-en
/templates/openoffice/docs/install-fr
/templates/openoffice/docs/install-us
/templates/zip/AUTHORS
/templates/zip/COPYING
/templates/zip/ChangeLog-ar
/templates/zip/README-ar
/templates/zip/README-en
/templates/zip/README-fr
/templates/zip/THANKS
/templates/zip/TODO-ar
/templates/zip/ar.aff
/templates/zip/ar.dic
/templates/zip/install-ar
/templates/zip/install-en
/templates/zip/install-fr
/templates/zip/install-us
/tests/output/arb.aff
/tests/output/arb.dic
/tests/outputarb.tmp.dic
/ayaspell/hunspell-ar_20080110.tar.gz
/ayaspell/hunspell-ar_20080110/AUTHORS
/ayaspell/hunspell-ar_20080110/COPYING
/ayaspell/hunspell-ar_20080110/ChangeLog-ar
/ayaspell/hunspell-ar_20080110/README-ar
/ayaspell/hunspell-ar_20080110/README-en
/ayaspell/hunspell-ar_20080110/README-fr
/ayaspell/hunspell-ar_20080110/THANKS
/ayaspell/hunspell-ar_20080110/TODO-ar
/ayaspell/hunspell-ar_20080110/ar.aff
/ayaspell/hunspell-ar_20080110/ar.dic
/ayaspell/hunspell-ar_20080110/install-ar
/ayaspell/hunspell-ar_20080110/install-en
/ayaspell/hunspell-ar_20080110/install-fr
/ayaspell/hunspell-ar_20080110/install-us
